<div class="row comeca-form1">
	<div class="col-sm-12">
		[text* your-name placeholder "nome completo"]
	</div>
	<div class="col-sm-12">
		[email* your-email placeholder "e-mail"]
	</div>

	<div class="col-sm-12">
		[tel* your-telefone class:tel placeholder "telefone"]
	</div>

	<div class="col-sm-12">
		[text* your-cidade placeholder "cidade"]
	</div>

	<div class="col-sm-12">
		[text* your-cep class:cep placeholder "cep"]
	</div>

	<div class="col-sm-6">
		<label class="pergunta">
			É condomínio?
		</label>
	</div>
	<div class="col-sm-6 campos_inline">
		[radio condominio class:radios_campos default:2 "sim" "não"]
	</div>
	<div class="col-sm-12 num_aptos">
		[number your-num-aptos min:0 max:100 placeholder "número de aptos"]
	</div>
	<div class="col-sm-12 text-center">
		[submit "ENVIAR"]
	</div>


</div>

<style type="text/css">
.comeca-form1 .campos_inline > div {
    margin: 0px;
}

html .comeca-form1 .radios_campos > div {
    width: 50%;
    max-width: 63px;
    display: inline-block;
    margin-top: 4px !important;
    font-size: 17px;
}

.comeca-form1 .radios_campos > div input {
    margin-top: 4px;
}

.comeca-form1 label.pergunta {
    font-weight: 400;
    font-size: 16px;
    margin-top: 4px;
}

.comeca-form1 .btn {
    width: 100%;
    border-radius: 0px;
    font-weight: 700;
    font-size: 21px;
    padding: 3px;
}

.comeca-form1 .form-group > span {
    display: none;
}
.comeca-form1 .alert {
    margin-top: -20px;
}
</style>